<div class="container">
<button mat-raised-button class="d-block ms-auto " color="primary" (click)="openDialog('add')">Add Note</button>
<div class="row mt-5 g-1">
    <div class="col-md-3"*ngFor="let note of notes">
<mat-card class=" bg-danger text-white p-2" >
    <div class="d-flex justify-content-between align-items-center">
    <mat-card-header class="pb-3">{{note.title}}</mat-card-header>
    <div>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog('update',note)">
            <mat-icon>update</mat-icon>
           <span>Update</span> </button>
          <button mat-menu-item (click)="openDialog('delete')">
            <mat-icon>delete</mat-icon>
           <span>Delete</span> </button>
        </mat-menu>
    </div>


</div>
    <mat-divider class="" ></mat-divider>
    <mat-card-content class="pt-3">{{note.desc}}</mat-card-content>
  </mat-card>
</div>
</div>
</div>

